.top-strip {
  background-color: #ec3f71;
}
.content h1 {
  color: #ed225d;
}

main.container, main.content>.container {
  width: 75%;
}

p {
  /*padding: 0 1.25rem;*/
  /*margin: 0 auto 1.875rem;*/
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  background-color: #ec3f71;
}

.bar-header {
  background: #fff;
  padding: .625rem 1.25rem;
  box-shadow: 0 -3px 9px #000;
  position: fixed;
  width: 100%;
  z-index: 10;
  text-decoration: none;
  font-family: Georgia,Times New Roman,Times,serif;
  font-size: 1.75em;
}

.bar-header a {
  color: #ed225d;
  text-decoration: none;
}

.entries h3 {
  font-weight: 100;
}

.post h2 {
  font-weight: 100;
}