
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.sound.min.js"></script>
    <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
    <style>
    body {
      padding: 20px 100px;
    }
    </style>
  </head>

  <body>
      {{ content }}
  </body>

</html>
