
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.sound.min.js"></script>
    <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
    <title>ICM Quizzes</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style-adjust.css">
  </head>

  <body>
    <header class="bar-header">
      <a href="{{site.baseurl}}/">ICM Quizzes</a>
    </header>
      <main class="content">
          <section class="container">
            <div class="row-fluid">
            <article class="post">
              <section>
                {{ content }}
                <hr>
              </section>
            </article>
          </div>
        </section>
      </main>
    <footer>
      <div class="container">
        We welcome your <a href="https://github.com/ITPNYU/ICM-Quizzes/">feedback and contributions on GitHub</a>.</p>
      </div>
    </footer>
  </body>

</html>
